.App {
  text-align: center;
}

.container {
  background-color: #eeeeee;
  width: 35%;
  min-height: 90vh;
  padding: 1rem;
  margin: 2rem auto 0 auto;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-radius: 15px;
}
